body {
    font-family: Cala-Light;
    background-color: #ccccdd;
    overflow-x: hidden;
}

.a6 {
    position: absolute;
    top: 0px;
    box-shadow: 0px 0px 5px 1px #999999;
    display: block;
    width: 640px;
    height: 380px;
    background-color: #ffffff;
    margin: 5px;
}

.slideUnder {
    position: absolute;
    top: 0px;
    z-index: -1;
    transition: top 0.5s;
}

.scaleable {
    transition: width 0.5s, height 0.5s;
}