<link rel="import" href="../polymer/polymer-elements/polymer-ajax/polymer-ajax.html">
<polymer-element name="wbhb-storyList" attributes="">
    <template>
        <polymer-ajax id="getData" url="" params=''  handleAs="json"></polymer-ajax>
    </template>
    <script>
        Polymer('wbhb-storyList', {
            storyList: [
                "json/0001.json",
                "json/2.json",  
                "json/3.json",
                "json/4.json",  
                "json/5.json",
                "json/6.json", 
                "json/7.json", 
                "json/8.json",
                "json/9.json"
            ],
            stories: [],
              
            ready: function() {
                var ajax = this.$.getData;
                ajax.addEventListener("polymer-response", function(e) {
                    var story = e.detail.response;
                    var polymerParent = this.parentNode.host;
                    
                    polymerParent.stories.push(story);
                    polymerParent.asyncFire('polymer-signal', {name: "newStoryLoaded", data: story.id});
                });
            },
                
            getStory: function(index) {
                return stories[i];
            },
                
            fetchStory: function(id) {
                if (id < this.storyList.length) {
                    
                    var ajax = this.$.getData;
                    ajax.url = this.storyList[id];
                    ajax.go();
                }
            }
        });
  </script>
</polymer-element>