<link rel="import" href="wbhb-storyList.html" />
<polymer-element name="wbhb-carosel" attributes="centreItem" extends="wbhb-storyList">
    <template>
        <div id="clipBox" style="width: 100%; overflow: hidden; clip:rect(0px,100px,100px,0px);">
            <div style="visibility: visible;">
                <content>
                </content>
            </div>
            <template id="stories" repeat="{{stories}}">
                <div style="visibility: hidden;">
                    <wbhb-story class="hidden" story="{{}}"></wbhb-story>
                </div>
            </template>
        </div>
    </template>
    <script>
        Polymer('wbhb-carosel', {
            centreItem: 0,
            fetchAhead: 2,
            stories: [],
            
            ready: function() {
                this.super();
                
                this.resetStyleInheritance = false;
                this.applyAuthorStyles = true;
                
                // fetch starting stories
                this.fetchStory(this.centreItem);
                
                for (var i = 1; i <= this.fetchAhead; i++) {
                    this.fetchStory(this.centreItem + i);
                }
                
                this.asyncMethod(this.popStories, null, 40);
                this.asyncMethod(this.positionChildren, null, 510);
            },
            
            positionChildren: function() {
                var myStories = this.querySelectorAll("wbhb-story");
                
                for (var i = 0; i < myStories.length; i++) {
                    myStories[i].isOpen = false;
                    myStories[i].style.left = (i - this.centreItem) * 700 + 500 + "px";
                }   
            },
            
            centreItemChanged: function() {
                this.positionChildren();   
            },
            
            scroll: function(direction) {
                if (direction > 0) {
                    if (this.centreItem < this.stories.length - 1) {
                        this.centreItem++;
                        if (this.stories.length <= this.centreItem + this.fetchAhead) {
                            this.fetchMore();
                        }
                    } else {
                        //bounce
                    }
                }
                if (direction < 0) {
                    if (this.centreItem > 0) {
                        this.centreItem--;
                    } else {
                        //bounce
                    }
                }
            },
            
            fetchMore: function() {
                var next = this.centreItem + this.fetchAhead;
                this.fetchStory(next);
                    
                //wait a bit before popping stories
                //TODO: find the proepr way to do this (checkpoints etc)
                this.asyncMethod(this.popStories, null, 400);
                this.asyncMethod(this.positionChildren, null, 510);
            },
            
            popStories: function() {
         
                //pop stories from shadow DOM (a little clunky)
                var images = this.$.clipBox.querySelectorAll("wbhb-story");
                for (var i = 0; i < images.length; i++) {
                    var image = images[i];
                    image = image.parentNode.removeChild(image);
                    this.appendChild(image);
                    this.asyncMethod(function(image) {
                        image.classList.add("visible");
                        image.classList.remove("hidden");
                    },
                    image, 2);
                }
            }
            
        });
  </script>
</polymer-element>